.leftBtn{
  float: left;
margin-left: 106px;
  margin-top:12%;
  input{
    width: 100px;
    height: 60px;
      outline:none;
      border:1px solid #ccc;
      border-radius: 25px;
    line-height: 58px;
    background-color: #00FFFF;
    color:black;
    font-size: 18px;
  }
  input:hover{
    cursor: pointer;
    background-color: #88FFFF;
  }
}
.rightBtn{
  float:left;
  margin-left: 198px;
  margin-top:12%;
  input{
    width: 100px;
    height: 60px;
      outline:none;
      border:1px solid #ccc;
      border-radius: 25px;
    line-height: 58px;
    background-color: #00FFFF;
    color:black;
    font-size: 18px;
  }
  input:hover{
    cursor: pointer;
    background-color: #88FFFF;
  }
}
