
:global(.ant-steps){
    width:80%;
    margin: 0 auto;
    //margin-top:2%;
}
.downButton{
  position:relative;
  left:10%;
  top:20px;
}
:global(.ant-btn-ghost){
background-color: #108EE9;
color:#FFFFFF;
}
.import{
  position: relative;
}
.steps_content{
  margin-top: 20px;
 border: 1px solid #ccc;
 border-radius: 15px;
 min-height: 620px;
 text-align: center;
 padding-top: 90px;
 width: 90%;
 margin-left:5%;
}
.steps_action{
  margin-left:5%;
  margin-top: 24px;
}
